//colors
$dark-grey: #111;
$blue: #25AAE1;
$teal: #42C9DD;
$light-teal: #D0E5E8;
$dark-teal: #104A61;

//fonts
$bree: 'Bree Serif', serif;
$open: 'Open Sans', sans-serif;

//breakpoints
$breaklarge: 900px;
$breakmid: 760px; 
$breaksmall: 500px;