@import "_reset.scss";
@import "_basics.scss";

@mixin transform($transforms) {
	-moz-transform: $transforms;
	o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

h1, h2, h3, h4, h5, h6, header {
	font-family: $bree;
	text-rendering: optimizeLegibility;
}

h2 {
	font-size: 1.5em;
	margin: 0 0 15px;
}

body {
	background: $teal;
	
	p {
		color: $dark-grey;
		font-family: $open;
		line-height:1.5em;
		margin: 0 0 10px;
	}
}

a {
	font-family: $open;
}

.crab-block {
	position: relative;
	
	&:after {
		background: url(../images/mini-crab.png) no-repeat center center;
		content: "";
		position: absolute;
		width: 200%;
		height: 200%;
		top: -50%;
		left: -50%;
		@include rotate(13);
	}
}

.container {
	margin: 0 auto 1em;
	width: 100%;
	
	nav {
		background: $blue;
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 1000px;
		padding: 0 10%;
		text-align: center;
	
		a {
			color: $light-teal;
			display: inline-block;
			font-size: 1.3em;
			margin: 1em 2.3em;
			text-decoration: none;
			
			&:hover {
				color: $dark-teal;
			}
		}
		
		@media screen and (max-width: $breakmid) {
			padding: 0;
			
			a {
				margin: 1em;
			}
		}
		
		@media screen and (max-width: $breaksmall) {
			font-size: .8em;
			
			a {
				margin: 1em .4em;
			}
		}
	}
	
	.content {
		background: $light-teal;
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 1000px;
		padding: 50px;
		
		a {
			color: $dark-teal;
			font-family: $open;
			
			&:hover {
				color: $blue;
			}
		}
		
		@media screen and (max-width: $breaksmall) {
			padding: 20px 5%;
		}
	}
}

header {
	background: url(../svg/beach.svg);
	background-size: 1000px 300px;
	color: $blue;
	font-size: 3em;
	height: 300px;
	text-align: center;
	
	img{
		margin: .3em auto 0;
	}
	
	.heading {
		text-shadow: 2px 2px 5px $light-teal;
	}
	
	@media screen and (max-width: $breaksmall) {
		font-size: 1.8em;
		
		.heading {
			margin: 1em 0;
		}
	}
}

#flavors {
	margin: 3em 0 0;
	
	ul {
		margin: 2em 0 0;
	}
	li {
		float: left;
		list-style-type: none;
		margin-bottom: 2em;
		width: 50%;
		
		img {
			float: left;
			margin: 1em 2em 1em 0;
		}
		
		h3 {
			float: left;
			margin: 10px 0;
			width: 66%;
		}
		
		p {
			float: left;
			font-size: .9em;
			width: 66%;
		}
		
		&.coming-soon {
			position: relative;
			
			img{
				opacity: .5;
			}
		}
		&.coming-soon:before {
			color: #fff;
			content: "Coming soon";
			@include rotate(-25);
			left: 2px;
			position: absolute;
			font-family: $bree;
			top: 3.2em;
			z-index: 2;
		}
		
		@media screen and (max-width: $breaklarge) {
			clear: both;
			float: none;
			width: 100%;
			
			h3 {
				margin: 20px 0 10px;
			}
		}
		
		@media screen and (max-width: $breaksmall) {	
			h3 {
				float: none;
				text-align: center;
				width: 100%;
			}
			
			p {
				float: none;
				width: 100%;
			}
			.image {
				margin: 0 auto;
				text-align: center;
				width: 100%;
				
				img {
					float: none;
					margin: 0;
				}
			}
			
			&.coming-soon:before {
				left: 50%;
				margin-left: -45px;
			}
		}
	}
	li:nth-child(2n+1) {
		clear: both;
	}
}	

#location {
	clear: both;
	margin: 0 0 3em;
	position: relative;
	top: 3em;
}

footer {
	background: $dark-teal;
	color: $light-teal;
	font-family: $open;
	font-size: .9em;
	margin: 0 auto;
	min-height: 50px;
	max-width: 1000px;
	
	.copy {
		float: left;
		margin: 1em 50px;
	}
	
	.social {
		float: right;
		margin: 0 50px 0 0;
		
		span {
			position: relative;
			top: -3px;
		}
		
		a {
			display: inline-block;
			opacity: .6;
			position: relative;
			top: 8px;
			
			&:hover {
				opacity: 1;
			}
		}
	}
	
	@media screen and (max-width: $breakmid) {
		padding: 1em 0 2em;
		
		.copy, .social {
			float: none;
			margin: 0 auto;
			padding: 1em 0 0;
			text-align: center;
			
			a {
				margin: 0 1em;
			}
		}
	}
	
	@media screen and (max-width: $breaksmall) {
		.social span {
			display: none;
		}
	}
}