@import "reset.scss";
@import "basics.scss";

h1, h2, h3, h4, h5, h6, header {
	font-family: $bree;
}

body p {
	color: $dark-grey;
	font-family: $open;
}

a {
	color: $light-red;
}

a:hover {
	color: $dark-red;
}

.blurry {
	color: transparent;
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.container {
	margin:1em auto;
	width:1000px;
}

header {
	text-align:center;
}